<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <configSections>
        <section
            name="cogito.components.server"
            type="Cogito.Components.Server.ConfigurationSection, Cogito.Components.Server" />
    </configSections>

    <cogito.components.server>
        <applications>
            <add name="Cogito.Components.Server.TestApp" path="." />
        </applications>
    </cogito.components.server>

    <system.diagnostics>
        <trace
            autoflush="true">
            <listeners>
                <add
                    name="ConsoleTraceListener"
                    type="System.Diagnostics.ConsoleTraceListener"/>
            </listeners>
        </trace>
    </system.diagnostics>

    <runtime>
        <loadFromRemoteSources
            enabled="true"/>
    </runtime>

    <startup>
        <supportedRuntime
            version="v4.0"
            sku=".NETFramework,Version=v4.5.2"/>
    </startup>

</configuration>
