<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <configSections>
        <section name="cogito.composition" type="Cogito.Composition.Hosting.Configuration.ConfigurationSection, Cogito.Composition" />
        <section name="cogito.web" type="Cogito.Web.Configuration.ConfigurationSection, Cogito.Web" />
        <section name="nancyfx" type="Nancy.Hosting.Aspnet.NancyFxSection" />
    </configSections>

    <appSettings>
        <add key="owin:HandleAllRequests" value="true" />
        <add key="owin:appStartup" value="Cogito.Nancy.Web.UI.Tests.Site.Startup, Cogito.Nancy.Web.UI.Tests.Site" />
    </appSettings>

    <cogito.composition>
        <containers default="Default">
            <add name="Default">
                <CompositionContainer xmlns="http://schemas.cogito.cx/2013/xaml/composition" xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml">
                    <CompositionContainer.Catalogs>
                        <ApplicationCatalog />
                    </CompositionContainer.Catalogs>
                </CompositionContainer>
            </add>
        </containers>
    </cogito.composition>

    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />
        <authentication mode="None" />
        <customErrors mode="Off" />
    </system.web>

    <system.webServer>

        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
            </customHeaders>
        </httpProtocol>

        <validation validateIntegratedModeConfiguration="true" />

        <staticContent>
            <remove fileExtension=".mp4" />
            <remove fileExtension=".ogv" />
            <remove fileExtension=".webm" />
            <remove fileExtension=".svg" />
            <mimeMap fileExtension=".less" mimeType="text/css" />
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
            <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
            <mimeMap fileExtension=".webm" mimeType="video/webm" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
        </staticContent>

        <security>
            <requestFiltering>
                <verbs>
                    <add verb="GET" allowed="true" />
                    <add verb="POST" allowed="true" />
                    <add verb="PUT" allowed="true" />
                </verbs>
            </requestFiltering>
        </security>

        <modules>
            <remove name="WebDAVModule" />
        </modules>

        <handlers>
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="OPTIONSVerbHandler" />
            <remove name="TRACEVerbHandler" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*" verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>

    </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.2.4.0" newVersion="2.2.4.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

</configuration>