<?xml version="1.0" encoding="utf-8"?>

<configuration>
  
  
  

    
    
    

    <system.web.webPages.razor>
        <pages pageBaseType="Cogito.Nancy.Razor.NancyRazorViewBase">
            <namespaces>
                <add namespace="Cogito.Nancy.Razor" />
            </namespaces>
        </pages>
    </system.web.webPages.razor>

</configuration>